@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;1,300&family=Roboto:wght@100&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
}

body {
    background: #91A9E1;
}

button.btn {
    background-color:#6f56d0;
}

.bg {
    background-color: #7796DE;
}

.img-fluid {
  width: 50%;
  justify-column: justify;
}

.navbar  {
    background-color:#91A9E1;
}

footer {
    position:relative;
    bottom:-16px;
    background-color:#7796DE;
    color: white;
}

.retorno_agradecimento {
  position:relative;
  width: 65%;
}

.container_agradecimento {
  position: relative;
  align-items: center;
  justify-columns: center;
  color: #fff;
  left:189px;
}