@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;1,300&family=Roboto:wght@100&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
}

body {
    background: #91A9E1;
}

button.btn {
    background-color:#6f56d0;
}

.bg {
    background-color: #7796DE;
}

.navbar  {
    background-color:#91A9E1;
}

footer {
    position:relative;
    bottom:-16px;
    background-color:#7796DE;
    color: white;
}

   
.row {
    background
}

/* Button */
.caixa-secao-conteudo .contact-form .btn-success{
    min-height:41px;
    width:87px;
}

.caixa-secao-conteudo {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  * {
    box-sizing: border-box;
  }
  
  
  :root {
    --cor-primaria-success: rgb(240, 242, 246);
    --cor-secundaria-success: rgb(25, 25, 25);
  
  }
  
  
  
  li {
    list-style: none;
  }
  
  .fundo_thanks {
    background: #be5d86e6;
  }
  
  h1 {
    color: #ffffff;
  }
  
  
  body {
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    background: #e0e0e0;
  }
  
  .contato_estilizado {
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    background: #fecf77;
  }
  
  html {
    height: 100%;
  }
  
  a {
    text-decoration: none;
    color: #000000;
  }
  
  .caixa-header {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url('../img/triologia.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 131vh;
  }
  
  .titulo_index {
    color: #ffffff;
  }
  
  .caixa-header_contato {
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-image: url('../img/contato2.png');
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    margin: auto;
    width: 900px;
    height: 200px;
    min-height: 48%;
    display: block;
    height: 120vh;
  }
  
  .titulo_projetos {
    color: #ffffff;
  }
  
  .titulo {
    text-align: center;
  }
  
  .container {
    padding: 0px 50px;
  }
  
  .ajuste_imagem {
    text-align: center;
  }
  
  .caixa-projetos {
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-image: url('../img/430.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    margin: auto;
    width: 800px;
    min-height: 48%;
    display: block;
    height: 95vh;
  }
  
  .btn-branco {
    background-color: rgb(255, 255, 255);
    padding: 10px;
    width: 80px;
    border-radius: 80px;
    text-align: center;
  }
  
  .btn-branco_projetos {
    background-color: rgb(255, 255, 255);
    color: #111111;
    padding: 10px;
    width: 80px;
    border-radius: 80px;
    text-align: center;
  }
  
  .caixa-secao-conteudo {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .caixa-somente-conteudo {
    display: flex;
    margin: 25px 55px;
  }
  
  .btn-roxo {
    padding: 10px;
    width: 190px;
    border-radius: 95px;
    border: #9b619b 1px solid;
    color: #000000;
  }
  
  .titulo_destaque {
    color: #9c959a;
  }
  
  h2 {
    font-size: 36px;
    color: #111111;
    margin: 50px;
  }
  
  .caixa-texto-sobre-mim {
    margin-bottom: 50px;
    text-align: justify;
  }
  
  .caixa-sobre-mim {
    width: 40%;
  }
  
  .caixa-lista-sobre-mim {
    width: 40%;
    margin-left: 50px;
  }
  
  .rodape {
    font-size: 16px;
  }
  
  .rodape_thanks {
    position: absolute;
    font-size: 16px;
    bottom: 0;
    color: #FFF;
    justify-items: center;
    height: 100px;
    width: 100%;
    text-align: center;
    line-height: 100px;
  }
  
  .caixa-item-rede-social {
    padding: 20px;
    text-align: center;
    background-color: #875e87;
    width: 180px;
    height: 180px;
    margin-right: 40px;
  }
  
  .link-rede-social {
    color: white;
  }
  
  
  .alinhada ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
    padding: 16px;
  }
  
  
  a {
    text-decoration: none;
  }
  
  header img {
    width: 112px;
    height: 150px;
    border-radius: 24%;
    border: 2px solid #cec1c7;
  }
  
  
  input {
    text-align: justify;
  }
  
  .contact-form input {
    width: 100%;
    padding: 8px 0;
    margin: 8px 0;
  }
  
  .contact-form input[type=text] {
    height: 100px;
  }
  
  .caixa-mae-rede-social {
    display: flex;
    justify-content: center;
    margin-top: 50px;
  }
  
  button {
    border: none;
    width: 100px;
    height: 30px;
  }
  
  .btn {
    border: none;
    padding: 10px;
    text-decoration: none;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .btn-success {
    background-color: var(--cor-primaria-success);
    outline: none;
    color: var(--cor-secundaria-success)
  }
  
  footer {
    text-align: center;
    color: #000000;
    font-size: 40px;
    padding: 30px;
  }
  
  @media(max-width: 768px) {
    .caixa-somente-conteudo {
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  
    .caixa-sobre-mim {
      width: 100%;
    }
  
    .caixa-lista-sobre-mim {
      width: 100%;
    }

    .caixa-item-rede-social{
      width: 100%;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }