@import url('https://fonts.googleapis.com/css2? family= Inter:wght@100;200;300;400;500;600 & family= Josefin+Slab:ital,wght@0,100; 0,200;1,100 & família= Open+Sans:ital,wght@0,300;1,300 & família= Roboto:wght@100 & display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
}

#home .d-sm-flex div{
  position:relative;
  left:-144px;
 }
 
 /* Image */
 .d-sm-flex a img{
  position:relative;
  left:-119px;
 }
 

.titulo {
  color: white;
  text-align: center;
}

.caixa-secao {
  padding: 45px;
  background-color: #91A9E1;
  width: 300px;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  text-align: center;
  box-shadow: 2px 15px 20px rgba(61, 61, 61, .4);
  padding-top:40px;
  position:relative;
  left:836px;
  top:57px;
}

.contact-form {
  text-align: center;
  align-items: justify;
  color: white;
}

.contact-form, input {
  border-radius: 5px
}

body {
    background: #91A9E1;
}

button.btn {
    background-color:#7796DE;
}

.bg {
    background-color: #7796DE;
}

.img-fluid {
  width: 50%;
  justify-column: justify;
}

.navbar  {
    background-color:#91A9E1;
}

footer a {
  text-decoration: none;
  color: white;
}

footer {
    position:relative;
    background-color:#7796DE;
    color: white;
    text-align: center;
    padding: 20px 0;
    position: fixed; 
    bottom: 0;
    width: 100%;
    box-sizing: border-box;
}

.section-agradecimento img{
    position:relative;
    left:600px;
}

.retorno_agradecimento {
  width: 800px;
}
.container_agradecimento {
  position: relative;
  align-items: center;
  justify-columns: center;
  color: #fff;
}

.subTituloContato {
  text-align: center;
}

