@import url('https://fonts.googleapis.com/css2? family= Inter:wght@100;200;300;400;500;600 & family= Josefin+Slab:ital,wght@0,100; 0,200;1,100 & família= Open+Sans:ital,wght@0,300;1,300 & família= Roboto:wght@100 & display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.banco-memoria {
    text-align: center;
}

.conteudo-alzheimer{
    font-size: 20px;
    text-align: justify;
}

.subTitulo-fevereiro {
    color: white;
    text-align: justify;
}

.fevereiro-roxo {
    color: white;
}

a {
    color: white;
    text-decoration: none
}

.btn {
    text-decoration: none !important; 
}

.btn:hover, .btn:focus {
    text-decoration: none !important;
}

button.btn {
    background-color:#9aabff;
    color: white;
}

div, ajuster-cor {
    color: black;
  }

.bg {
    background-color: #707fc7;
}

.navbar  {
    background-color:#707fc7;
}

.page_footer {
    background-color:#FFF;
    color: black;
}


footer a {
    text-decoration: none;
    color: #fff;
}

.rodape_index {
    position:relative;
    bottom:-16px;
    background-color:#799ae5;
    text-align: center;
    color: #fff;
    padding: 30px;
}

.desenvolvedora{
    position:relative;
    background-color:#aab9fc;
}