@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;1,300&family=Roboto:wght@100&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
}

button.btn {
    background-color:#6f56d0;
}

.bg {
    background-color: #7796DE;
}

.navbar  {
    background-color:#91A9E1;
}

.page_footer {
    background-color:#FFF;
    color: black;
}


footer a {
    text-decoration: none;
    color: #fff;
}

.rodape_index {
    position:relative;
    bottom:-16px;
    background-color:#7796DE;
    text-align: center;
    color: #fff;
    padding: 30px;
}

.desenvolvedoras{
    position:relative;
    background-color:#aab9fc;
}

